.card{
    border: 2px solid red;
    border-radius: 20px;
}

.card img{
    width: 100%;
}

.btn-card{
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font: 1em sans-serif;
    
}